<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ cv_info.name }}'s CV</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="cv_name">
        <h1>{{ cv_info.name }}'s CV</h1>

        {% if cv_info %}
            <section id="contact">
                <h2>Contact Information</h2>
                <p>Email: {{ cv_info.email }}</p>
                <p>Phone: {{ cv_info.phone }}</p>
                <p>Location: {{ cv_info.location }}</p>
            </section>

            <section id="profile-summary">
                <h2>Profile Summary</h2>
                <p>Dedicated and resourceful Administration professional with 13 years of experience driving operational excellence. Skilled in training and empowering teams, optimizing telephony systems like Avaya, and ensuring accurate medical coding in healthcare settings. Passionate about exceeding customer expectations through prompt and efficient service. Enthusiastic about applying skills and experience in a Cloud industry.</p>
            </section>

            <section id="skills">
                <h2>Skills</h2>
                <ul>
                    {% for skill in cv_info.skills %}
                        <li>{{ skill }}</li>
                    {% endfor %}
                </ul>
            </section>

            <section id="experience">
                <h2>Experience</h2>
                <ul>
                    {% for exp in cv_info.experience %}
                        <li>{{ exp }}</li>
                    {% endfor %}
                </ul>
            </section>

            <section id="projects">
                <h2>Projects</h2>
                <ul>
                    {% for project in cv_info.projects %}
                        <li>{{ project }}</li>
                    {% endfor %}
                </ul>
            </section>

            <section id="social-media">
                <h2>Social Media</h2>
                <p>Github: <a href="{{ cv_info.github }}" target="_blank">{{ cv_info.github }}</a></p>
            </section>

            <footer>&copy; {{ current_year }} - {{ cv_info.name }}</footer>
        {% else %}
            <p>No CV information available.</p>
        {% endif %}
    </div>
</body>
</html>
